.container {
      min-height: 80vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      column-gap: 3rem;
      row-gap: 5rem;
      margin: 5rem 0rem;
}

.h2 {
      padding: 4rem 0rem;
}
